.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 3rem;
  background: rgba(17, 17, 17, 0.9);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  position: relative;
}

.navbar h1,
.navbar .logo {
  font-size: 1.8rem;
  font-weight: 800;
  color: #00ff88;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: default;
  user-select: none;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 2.2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #00ff88;
  transition: width 0.3s ease;
  border-radius: 2px;
}

.nav-links a:hover {
  color: #00ff88;
}

.nav-links a:hover::after {
  width: 100%;
}

/* Botão Hambúrguer */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  position: absolute;
  right: 20px;
}

.line {
  width: 28px;
  height: 3px;
  background: #fff;
  transition: 0.3s ease;
  border-radius: 8px;
}

/* Animação do ícone */
.line1.active {
  transform: rotate(45deg) translate(5px, 5px);
}

.line2.active {
  opacity: 0;
}

.line3.active {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* RESPONSIVO */
@media (max-width: 768px) {

  .nav-links {
    position: absolute;
    top: 80px;
    right: 0;
    background: rgba(17, 17, 17, 0.95);
    backdrop-filter: blur(12px);
    flex-direction: column;
    width: 100%;
    padding: 1.5rem 0;
    gap: 1.5rem;
    transform: translateY(-200%);
    transition: transform 0.4s ease;
  }

  .nav-links.open {
    transform: translateY(0);
  }

  .nav-links a {
    font-size: 1.4rem;
  }

  .hamburger {
    display: flex;
  }
}
