html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #0f0f0f;
  color: #fff;
}

section {
  padding: 5rem 2rem;
  max-width: 900px;
  margin: auto;
}

